@model DuAnBanGiayCs4.Models.ChiTietSanPham

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChiTietSanPham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNsx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNsx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaNhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaNhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="ShowListCtsp">Back to List</a>
</div>
